<!DOCTYPE html>
<html>
  <head>
    <title>Robots</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="center">Welcome to the Robot Editing Page</h1>
    <form action="/robots">
    <input type="submit" value="Click to Enter" />
    </form>
  </body>
</html>
